{% extends 'base.html.twig' %}

{% block title %}STRONA DO USUWANIA WYBRANYCH KODÓW{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
                {{ message }}
        {% endfor %}
    {% endfor %}
    <form action="{{ path('removeCodes') }}" method="post">
        <label for="codes">
            <textarea id="codes" rows="4" cols="50" name="codes"></textarea>
        </label>
        <button type="submit">Usuń</button>
    </form>
    <li><a href={{ path('index') }}>Strona Główna</a></li>

    {{ dump(codes) }}
{% endblock %}